.cartContainer {
  padding: 2rem;
}

.title{
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
  letter-spacing: -1;
}

.cartContent {
  display: flex;
  gap: 2rem;
  align-items: flex-start;
}

.itemsList {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cartItem {
  width: 410px;
  display: flex;
  align-items: start;
  gap: 1rem;
  padding: 0.7rem 0.7rem;
  background-color: #f3f3f3;
  border-radius: 18px;
}

.productThumb {
  width: 160px;
  height: 130px;
  border-radius: 12px;
  overflow: hidden;
  flex-shrink: 0;
}

.productImage {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.itemInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
}

.courseName {
  font-size: 20px;
  font-weight: 500;
  color: #000;
}

.coursePrice {
  font-size: 22px;
  font-weight: 500;
  color: #000;
  align-self: flex-end;
  margin-right: -35px;
  display: flex;
  align-items: end;
}

.moneyicon{
  font-size: 14px;
  margin-bottom: 3px;
}

.removeBtn {
  border: none;
  background: #000;
  border-radius: 8px;
  cursor: pointer;
  padding: 0.3rem;
}

.removeBtn img {
  width: 20px;
  height: 20px;
}

.summaryCard {
  width: 340px;
  background-color: #f3f3f3;
  border-radius: 20px;
  padding: 1.5rem;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.summaryTitle {
  font-size: 28px;
  font-weight: 500;
  color: #000;
}

.summarybox{
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 20px 0;
}

.summaryRow {
  display: flex;
  justify-content: space-between;
  font-size: 16px;
}

.summaryTotal {
  display: flex;
  justify-content: space-between;
  font-size: 28px;
  font-weight: 500;
  margin-top: 0.5rem;
  align-items: end;
}

.totalstyle{
  font-size: 22px;
}

.pricestyle{
  display: flex;
  flex-direction: row;
  align-items: end;
}

.continueBtn {
  margin-top: 0.5rem;
  padding: 0.85rem;
  border: none;
  border-radius: 12px;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background-image: url(/continueBTNBG.png);
  background-size: cover;
  background-position: center;
  transition: 0.5s;
}

.continueBtn:hover{
  opacity: 0.9;
}

