.finishContainer {
  padding: 2rem;
}

.title {
  font-weight: 500;
  font-size: 36px;
  margin-bottom: 40px;
  letter-spacing: -1;
}

.finishContent {
  display: flex;
  gap: 2.5rem;
  align-items: flex-start;
}

.paymentColumn {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.paymentOption {
  width: 460px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 1.25rem;
  background-color: #f3f3f3;
  border-radius: 16px;
  border: none;
  cursor: pointer;
  transition: background-color 0.2s;
}

.paymentOptionSelected {
  background-color: #eaeaea;
  box-shadow: inset 0 0 0 1px rgba(0, 0, 0, 0.144);
}

.paymentInfo {
  display: flex;
  align-items: center;
  gap: 0.75rem;
}

.paymentIcon {
  width: 40px;
  height: 40px;
}

.paymentLabel {
  font-size: 18px;
  color: #000;
}

.selectorIcon {
  width: 24px;
  height: 24px;
}

.addPayment {
  background: transparent;
  border: none;
  color: #000;
  font-weight: 500;
  cursor: pointer;
  font-size: 16px;
  text-align: left;
}

.orderSummary {
  width: 320px;
}

.moneyicon {
  font-size: 16px;
  margin-bottom: 3px;
}

